/* ===== Importing Fonts ===== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* ===== Setting color variables ===== */
:root{
    --matteBlack: #28282B;
    --matteBlackDark: #141414;
}

/* ===== Reset / Defaults ===== */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* ===== Body/Parent ===== */
body{
    display: flex;
    flex-flow: column wrap;
    height: 100vh auto;
    color: #fff;
    background: var(--matteBlackDark);
    /* overflow: hidden; */
}

/* ===== Search Button Menu ===== */
[data-searchIcon]{
    width: 35px;
    margin-left: .5rem;
}

.search-button-wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-top: .5rem;
}

.search-button > a:first-child{
    display: flex;
}

[data-searchField]{
    font-size: 1.2rem;
    max-width: 0px;
    opacity: 0;
    border-radius: 1rem;
    color: #fff;
    font-weight: bold;
    background: var(--matteBlack);
    transition: max-width .25s ease-in-out, opacity .25s ease-in-out;
}

[data-countrySelection]{
    max-width: 0px;
    opacity: 0;
    margin-left: 1rem;
    padding: .5rem;
    border-radius: 1rem;
    color: #fff;
    background: var(--matteBlack);
    transition: max-width .25s ease-in-out, opacity .25s ease-in-out;
    margin-right: 1rem;
}

[data-searchField].active{
    max-width: 400px;
    opacity: 1;
}

[data-countrySelection].active{
    max-width: 200px;
    opacity: 1;
}

[data-menuBtn]{
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: .25s ease-in-out;
}

.menu-wrapper{
    display: flex;
    margin-left: auto;
}

.menu-items{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .25s ease-in-out,
    transform .25s ease-in-out;
}

.menu-items.active{
    opacity: 1;
    transform: translateX(25px);
}

[data-menuBtn].active{
    transform: translate(-240px);
}

[data-getDeviceLocationBtn]{
    cursor: pointer;
    width: 40px;
    pointer-events: auto;
}

/* ===== Header Wrapper ===== */
.header-wrapper{
    display: flex;
    flex-flow: row wrap;
    background: var(--matteBlack);
    align-items: center;
    font-size: 1.5rem;
    height: auto;
}

.current-weather-icon{
    min-width: 250px;
    max-width: 300px;
}

.current-weather-location{
    margin-left: auto;
    margin-right: 1rem;
    font-size: clamp(2rem, 7vmin, 4rem);
}

/* ===== Details Wrapper ===== */
main{  
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: .5rem;
}

.details-wrapper{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 20vw;
    background: var(--matteBlack);
    border-right: .5rem solid var(--matteBlackDark);
}
 
.forecast-wrapper{
    display: flex;
    flex-flow: row wrap;
    width: 80vw;
    background-color: var(--matteBlack);
}

.forecast-details{
    display: flex;
}

.forecast-weather-icon{
    min-width: 100px;
    max-width: 150px;
}

@media all and (max-width: 1500px) {
    .details-wrapper{
        width: 100%;
        margin-bottom: .5rem;
        border: none;
    }

    .forecast-wrapper{
        display: flex;
        justify-content: center;
        gap: 1rem;
        width: 100%;
    }
}